#container {
  width: 100%;
  height: 100%;
  margin: 5px;
  padding: 5px;
}
#bar-chart {
  width: 100%;
  height: 70vh;
}
#candle-chart {
  width: 100%;
  height: 80vh;
}
#candle-comparison {
  width: 100%;
  height: 80vh;
}
